body {
    background-color: #F9FAFC;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav-item {
    margin-right: 20px;
}

/* Custom navbar background color */
.custom-navbar {
    background-color: #4fa3f3;
    z-index: 1030;
}

/* Main padding to adjust for the fixed navbar */
main {
    padding-top: 30px;
}

/* Logo styling */
.navbar-logo {
    max-width: 100%;
    height: 90px;
    margin-right: 5rem;
}

/* Navbar links */
.nav-link {
    padding: 0 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #304b6d;
}

/* Subscribe button styling */
.login-btn {
    background-color: #ffc107; /* Bootstrap warning color */
    color: #fff;
    border: none;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #e0a800;
}

.btn {
    line-height: 1;
}

/* Search button styling */
.search-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 0.5rem;
}

.search-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Search bar styles */
#searchBar {
    padding: 10px 0;
    margin-top: 10px;
    width: 50%;
    display: none;
}

.collapse.show#searchBar {
    display: block;
}

.collapse.show#searchBar {
   align-self: flex-end;
}

/* Adjust flex properties if needed */
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

/* Adjust search bar input and button */
#searchBar .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchBar .input-group {
    width: 100%;
    margin-top: 10px;
}

/* mobile view navbar toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%288, 8, 8, 0.8%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2.2px solid #fff;
    border-radius: .25rem;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* Toggle Button Active State */
.navbar-toggler:focus,
.navbar-toggler.collapsed {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ffc107;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Visa News Page */
.visa-news-title {
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.card-body {
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1em;
}

.card-header {
    background-color: #0f1e64;
    padding: .5rem .6rem;
}

.article-title {
    color:#0000ff;
    font-weight: bold;
    margin-top: 4%;
}

.article-title:hover {
    color: #e32227;
}

.article-excerpt {
    font-size: 1.2em;
    color: #000000;
    font-weight: 500;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.custom-author {
    background-color: #3596f0;
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.approval {
    color: rgb(222, 146, 168);
}

/* Alert message */
.alert {
    margin-top: 1rem;
    background-color: #8b00e8;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    border: 1.5px solid #34203d;
}

.alert-dismissible .btn-close {
    padding: 0.75rem;
}

.alert .alert-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.alert-dismissible {
    padding-right: 3rem;
}

/* Comments section */

.card-title {
    font-weight: bold;
    font-size: 1.2em;
}

.row {
    margin: 0 -15px;
}

.col-md-8, .col-md-4 {
    padding: 0 15px;
}

/* General Container Margins */

/* Masthead Styling */
.masthead {
    background: #f8f9fa;
    padding: 2rem 0;
}

.masthead-text {
    padding: 1rem;
}

.masthead-text .article-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.masthead-text .article-subtitle {
    font-size: 1.1rem;
    color: #6c757d;
}

.masthead-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Article Card Styling */
.article-card {
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-text {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Comment Count Styling */
.comment-count {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Active state for the like button */
#like-button:hover {
    background-color: #28a745; /* Green background on hover */
    color: white;
}
#dislike-button:hover {
    background-color: #dc3545; /* Red background on hover */
    color: white;
}

.btn-like-active {
    background-color: green;
    color: white;
    border-color: green;
}

/* Active state for the dislike button */
.btn-dislike-active {
    background-color: red;
    color: white;
    border-color: red;
}

.btn-sm {
    padding: .45rem 1rem;
    font-size: 1rem;
    border-radius: .3rem;
}

/* Styling for the like and dislike count */
#like-count, #dislike-count {
    margin-left: 5px;
    font-weight: bold;
}

/* Styles for the comments card */

.comments-card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.comment-item {
    border-bottom: 1px solid #e9ecef;
    padding: 1rem 0;
}

.comment-item:last-child {
    border-bottom: none;
}

.commentator {
    font-weight: bold;
}

.pending-approval {
    background-color: #bdbdfb;
    border-color: #3e2e81;
    color: #3f057d;
}

.approval-message {
    color: #856404;
    font-style: italic;
}

/* Styles for the new comment card */
.new-comment-card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#commentForm {
    margin-top: 1.3em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.form-control {
    border: 3px solid #141619;
}

/* Centering the submit button */

#commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 1rem;
}

/* Edit & Delete buttons on comments */
.visanews-btn-delete,
.visanews-btn-edit,
.btn-delete,
.btn-edit,
.btn-close {
    font-weight: bold;
    border: 2px solid #5c5a5a !important;
    border-radius: .55rem;
}

/* Hover effect for all buttons */
.visanews-btn-delete,
.btn-delete:hover,
.btn-close:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.visanews-btn-edit,
.btn-edit:hover {
color: #fff;
background-color: #03db9e;
}

.text-secondary,
.fa-regular {
    font-size: larger;
    color: #0056b3!important;
}
/* Social media icons links */

.social-share-icons a {
    margin-right: 10px;
    text-decoration: none;
}

.social-share-icons .btn {
    display: inline-flex;
    align-items: center;
}

.social-share-icons i {
    margin-right: 5px;
}

/* Footer Styles */
.footer .card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.footer .card-text {
    font-size: 0.75rem;
    color: #ddd;
}

.footer .fa-lg {
    font-size: 1.5rem;
}

.footer .fa-map-marker-alt,
.footer .fa-phone-alt,
.footer .fa-envelope,
.footer .fa-whatsapp {
    font-size: 1.2rem;
}

.footer p a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer p a:hover {
    color: #ffc107;
}

.footer .btn-warning {
    background-color: #ffc107;
    color: #fff;
    border: none;
    font-weight: bold;
}

.footer .btn-warning:hover {
    background-color: #e0a800;
    color: #fff;
}
 
/* General Footer Styles */
.footer {
    padding: 2rem 0;
    background-color: #4fa3f3;
    color: #fff;
    text-align: center;
}

.footer-divider {
    border-top: 1px solid #fff;
    margin: 1rem 0;
}

/* Subscribe Section */
.subscribe-section {
    margin-bottom: 2rem;
}

/* Popular Posts Section */
.popular-posts {
    margin-bottom: 2rem;
}

.popular-posts h5 {
    font-weight: bold;
}

.popular-post-card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.popular-post-card img {
    max-width: 100px;
    margin-right: 1rem;
}

/* Media Queries for Navbar max-width: 991.98px */
@media (max-width: 991.98px) {
    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start;
    }

    .nav-link {
        width: 100%;
        padding: 1rem;
        text-align: left;
    }
}

/* Media Queries for Navbar max-width:576px */
@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
        margin-top: 1rem;
    }

    .navbar-logo {
        max-height: 80px;
        height: auto;
        max-width: 100%;
        margin-right: 0;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%288, 8, 8, 0.8%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-size: 1.5em 1.5em;
    }
}    

/* Media Queries for Footer max-width:767px */
@media (max-width: 767px) {
    .footer {
        text-align: left;
    }

    .popular-post-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .popular-post-card img {
        margin-bottom: 1rem;
    }
}