body {
    background-color: #F9FAFC;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav-item {
    margin-right: 20px;
}

/* Custom navbar background color */
.custom-navbar {
    background-color: #4fa3f3;
    z-index: 1030;
}

/* Logo styling */
.navbar-logo {
    max-width: 100%;
    height: 90px;
    margin-right: 5rem;
}

/* Navbar links */
.nav-link {
    padding: 0 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #304b6d;
}

/* Subscribe button styling */
.login-btn {
    background-color: #ffc107; /* Bootstrap warning color */
    color: #fff;
    border: none;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #e0a800;
}

.btn {
    line-height: 1;
}

/* Search button styling */
.search-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 0.5rem;
}

.search-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Search bar styles */
#searchBar {
    padding: 10px 0;
    margin-top: 10px;
    width: 50%;
    display: none;
}

.collapse.show#searchBar {
    display: block;
}

.collapse.show#searchBar {
   align-self: flex-end;
}

/* Adjust flex properties if needed */
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

/* Adjust search bar input and button */
#searchBar .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchBar .input-group {
    width: 100%;
    margin-top: 10px;
}

/* mobile view navbar toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%288, 8, 8, 0.8%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2.2px solid #fff;
    border-radius: .25rem;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* Toggle Button Active State */
.navbar-toggler:focus,
.navbar-toggler.collapsed {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ffc107;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Carousel Adjustments */
.card-img-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}
  
#articleCarousel {
    border: 6px solid #eae9e9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
}

.card {
    border: none;
}

.card-body {
    border-radius: 0.75rem;
}

.p-4 {
    padding: 0!important;
}
  
a.text-decoration-none {
    color: inherit;
    text-decoration: none;
}
  
.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
   
.card-title {
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 0.2rem;
}

.card-text {
    font-size: 16px;
    line-height: 1.4;
    margin-left: 0.3em; 
    margin-top: 0.5rem;    
    color: #191b1d;
}

.card-text:hover {
    text-decoration: underline;
}

.hover-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.img-fluid {
    object-fit: cover;
}
  
.card .row {
    height: 100%;
}
  
.btn-primary {
    background-color: #007bff;
    border: none;
    width: 150px;
    height: 40px;
}

.d-grid {
    justify-items: center; 
}
  
.btn-primary:hover {
    background-color: #0056b3;
}
   
/* Visa News Page */
.featured {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.card-body {
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #0f1e64;
    padding: .5rem .6rem;
}

p .card-text {
    color: #040404;
}

a .card-text-decoration {
   color: #000000;
}

/* Style for Adjacent Card */
.adjacent-card {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 6px solid #eae9e9;
    border-radius: 0;
}

.adj-image {
    height: 200px;
}

.adj-title:hover {
    color: #e32227;
}
    
.article-title {
    color:#0a0a0a;
    font-weight: bold;
}

.article-title:hover {
    color: #e32227;
}

.article-excerpt {
    font-size: 1.2em;
    color: #000000;
    font-weight: 500;
}

.author-date {
    font-size: 0.93rem; 
    color: #f1f5f8;
    background-color: #6b6c6e;
}

.hline {
    border: 0.3rem solid #d30808; 
    opacity: 0.55!important;
    margin: 1.2rem 0.7rem;
}

/* Login page */
.min-vh-100 {
    min-height: 0 !important;
    background-color: #cdcefb48
}

.modal-content {
    border: 0.2rem solid #b0c9e269; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Alert message */
.alert {
    margin-top: 1rem;
    background-color: #8b00e8;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    border: 1.5px solid #34203d;
}

.alert-dismissible .btn-close {
    padding: 0.75rem;
}

.alert .alert-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.alert-dismissible {
    padding-right: 3rem;
}

/* Comments section */
.row {
    margin: 15px -15px;
}

.col-md-8, .col-md-4 {
    padding: 0 15px;
}

/* Masthead Styling */
.masthead {
    background: #f8f9fa;
    padding: 2rem 0;
}

.masthead-text {
    padding: 1rem;
}

.masthead-text .article-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.masthead-text .article-subtitle {
    font-size: 1.1rem;
    color: #6c757d;
}

.masthead-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Article Card Styling */
.article-card {
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.author-info {
    margin-top: 15px;
    text-align: left; 
}

.author-name {
    font-weight: bold; 
    margin-bottom: 5px;
    font-size: 2.1vmin; 
}

.author-divider {
    border: 0;
    height: 3px;
    background-color: #0a58ca; 
    margin: 0px 8px 0 0;
}

.date-time {
    font-size: 0.875rem;
    color: #6c757d;
}

/* Active state for the like button */
#like-button:hover {
    background-color: #28a745; /* Green background on hover */
    color: white;
}
#dislike-button:hover {
    background-color: #dc3545; /* Red background on hover */
    color: white;
}

.btn-like-active {
    background-color: green;
    color: white;
    border-color: green;
}

/* Active state for the dislike button */
.btn-dislike-active {
    background-color: red;
    color: white;
    border-color: red;
}

.btn-sm {
    padding: .45rem 1rem;
    font-size: 1rem;
    border-radius: .3rem;
}

/* Styling for the like and dislike count */
#like-count, #dislike-count {
    margin-left: 5px;
    font-weight: bold;
}

/* Styles for the comments card */
.comment-count {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.comments-card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.comment-item {
    border-bottom: 1px solid #e9ecef;
    padding: 1rem 0;
}

.comment-item:last-child {
    border-bottom: none;
}

.commentator {
    font-weight: bold;
}

.pending-approval {
    background-color: #bdbdfb;
    border-color: #3e2e81;
    color: #3f057d;
}

.approval-message {
    color: #856404;
    font-style: italic;
}

/* Styles for the new comment card */
.new-comment-card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#commentForm {
    margin-top: 1.3em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    align-content: center;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.form-control {
    border: 3px solid #141619;
}

/* Centering the submit button */

#commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 1rem;
}

/* Edit & Delete buttons on comments */
.visanews-btn-delete,
.visanews-btn-edit,
.btn-delete,
.btn-edit,
.btn-close {
    font-weight: bold;
    border: 2px solid #5c5a5a !important;
    border-radius: .55rem;
}

/* Hover effect for all buttons */
.visanews-btn-delete,
.btn-delete:hover,
.btn-close:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.visanews-btn-edit,
.btn-edit:hover {
color: #fff;
background-color: #03db9e;
}

.text-secondary,
.fa-regular {
    font-size: larger;
    color: #0056b3!important;
}
/* Social media icons links */

.social-share-icons a {
    margin-right: 10px;
    text-decoration: none;
}

.social-share-icons .btn {
    display: inline-flex;
    align-items: center;
}

.social-share-icons i {
    margin-right: 5px;
}

/* Footer Styles */
.footer {
    padding: 2rem 0;
    background-color: #4fa3f3;
    color: #fff;
    text-align: center;
}

.footer-divider {
    border-top: 1px solid #fff;
    margin: 1rem 0;
}

.footer-links {
    font-size: 1rem; 
    padding-right: 1rem;
    text-decoration: none;
}

.footer-links i {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.footer-links:hover {
    color: blue!important;
}

.section {
    background-color: #1C2127;
}

.container403 {
    position: absolute;
    right: 30px;
}

.message{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 230px;
    left: 40px;
}

.message2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    width: 360px;
    position: absolute;
    top: 280px;
    left: 40px;
}
  
.neon{
    text-align: center;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 90px;
    color: #5BE0B3;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #6EECC1;
    animation: flux 2s linear infinite;
    
  }
  .trash{
    width: 170px;
    height: 220px;
    background-color: #585F67;
    top: 300px;
  }
  .can{
    width: 190px;
    height: 30px;
    background-color: #6B737C;
    border-radius: 15px 15px 0 0;
  }
  .door-frame {
    height: 495px;
    width: 295px;
    border-radius: 90px 90px 0 0;
    background-color: #8594A5;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.door{
    height: 450px;
    width: 250px;
    border-radius: 70px 70px 0 0;
    background-color: #A0AEC0;
}
  
.eye{
    top: 15px;
    left: 25px;
    height: 5px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    animation: eye 7s ease-in-out infinite;
    position: absolute;
   }
  .eye2{
    left: 65px;
  }
  
  .window{
    height: 40px;
    width: 130px;
    background-color: #1C2127;
    border-radius: 3px;
    margin: 80px auto;
    position: relative;
  }
  
  .leaf{
    height: 40px;
    width: 130px;
    background-color: #8594A5;
    border-radius: 3px;
    margin: 80px auto;
    animation: leaf 7s infinite;
    transform-origin: right;
  }
  
  .handle {
    height: 8px;
    width: 50px;
    border-radius: 4px;
    background-color: #EBF3FC;
    position: absolute;
    margin-top: 250px;
    margin-left: 30px;
}
  
.rectangle {
    height: 70px;
    width: 25px;
    background-color: #CBD8E6;
    border-radius: 4px;
    position: absolute;
    margin-top: 220px;
    margin-left: 20px;
}
  
  @keyframes leaf {
    0% {
      transform: scaleX(1);
    }
    5% {
      transform: scaleX(0.2);
    } 
    70%{
      transform: scaleX(0.2);
    }
    75%{
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes eye {
    0% {
      opacity: 0;
      transform: translateX(0)
    }
    5% {
      opacity: 0;
    }
    15%{
      opacity: 1;
      transform: translateX(0)
    }
    20% {
      transform: translateX(15px)
    }
    35%{
      transform: translateX(15px)
    }
    40%{
      transform: translateX(-15px)
    }
    60%{
      transform: translateX(-15px)
    }
    65% {
      transform: translateX(0)
    }
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 5px #00FFC6, 0 0 15px #00FFC6, 0 0 50px #00FFC6, 0 0 50px #00FFC6, 0 0 2px #B9FFE8, 2px 2px 3px #12E29C;
      color: #4BFFEF;
    }
    50% {
      text-shadow: 0 0 3px #00B58D, 0 0 7px #00B58D, 0 0 25px #00B58D, 0 0 25px #00B58D, 0 0 2px #00B58D, 2px 2px 3px #006A60;
      color: #63D3AE;
    }
  }
  
/* Media Queries for Navbar max-width: 576px */
@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
        margin-top: 1rem;
    }

    .navbar-logo {
        max-height: 80px;
        height: auto;
        max-width: 100%;
        margin-right: 0;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%288, 8, 8, 0.8%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-size: 1.5em 1.5em;
    }
}    

/* Media Queries for Footer max-width:767px */
@media (max-width: 767px) {
    .footer {
        text-align: left;
    }

    .popular-post-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .popular-post-card img {
        margin-bottom: 1rem;
    }
}

/* Media Queries for cards max-width:992px */
@media (max-width: 992px) { /* Medium screens */
    .card-body h5, .card-body h4 {
        font-size: 1.1rem; /* Slightly smaller on medium screens */
    }

    .card-body p {
        font-size: 0.9rem;
    }
}

/* Media Queries for Navbar max-width: 991px */
@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start;
    }

    .nav-link {
        width: 100%;
        padding: 1rem;
        text-align: left;
    }
}

/* Article display page for article_detail & visanews_detail */
@media (max-width: 991px) {
    .col-md-6 .masthead {
        width: 100% !important;
    }
}
