body {
    background-color: #F9FAFC;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Ensure navbar links are spaced and visible on larger screens */
.nav-item {
    margin-right: 20px;
}

/* Custom navbar background color */
.custom-navbar {
    background-color: #4fa3f3;
    z-index: 1030;
}

/* Main padding to adjust for the fixed navbar */
main {
    padding-top: 30px;
}

/* Logo styling */
.navbar-logo {
    max-width: 100%;
    height: 80px;
    margin-right: 5rem;
}

/* Navbar links */
.nav-link {
    padding: 0 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #304b6d;
}

/* Subscribe button styling */
.login-btn {
    background-color: #ffc107; /* Bootstrap warning color */
    color: #fff;
    border: none;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #e0a800;
}

.btn {
    line-height: 1;
}

/* Search button styling */
.search-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 0.5rem;
}

.search-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Search bar styles */
#searchBar {
    padding: 10px 0;
    margin-top: 10px;
    width: 50%;
    display: none;
}

.collapse.show#searchBar {
    display: block;
}

.collapse.show#searchBar {
   align-self: flex-end;
}

/* Adjust flex properties if needed */
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

/* Adjust search bar input and button */
#searchBar .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchBar .input-group {
    width: 100%;
    margin-top: 10px;
}

/* mobile view navbar toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%288, 8, 8, 0.8%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2.2px solid #fff;
    border-radius: .25rem;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* Toggle Button Active State */
.navbar-toggler:focus,
.navbar-toggler.collapsed {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ffc107;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.article-link {
    text-decoration: none;
    color: #445261;
}

.article-link:hover,
.page-link {
    color: #E84610;
}

.article-title {
    margin-top: 10%;
    margin-left: 5%;
}

.article-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Footer Styles */
.footer .card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.footer .card-text {
    font-size: 0.75rem;
    color: #ddd;
}

.footer .fa-lg {
    font-size: 1.5rem;
}

.footer .fa-map-marker-alt,
.footer .fa-phone-alt,
.footer .fa-envelope,
.footer .fa-whatsapp {
    font-size: 1.2rem;
}

.footer p a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer p a:hover {
    color: #ffc107;
}

.footer .btn-warning {
    background-color: #ffc107;
    color: #fff;
    border: none;
    font-weight: bold;
}

.footer .btn-warning:hover {
    background-color: #e0a800;
    color: #fff;
}
 
/* General Footer Styles */
.footer {
    padding: 2rem 0;
    background-color: #4fa3f3;
    color: #fff;
    text-align: center;
}

.footer-divider {
    border-top: 1px solid #fff;
    margin: 1rem 0;
}

/* Subscribe Section */
.subscribe-section {
    margin-bottom: 2rem;
}

/* Popular Posts Section */
.popular-posts {
    margin-bottom: 2rem;
}

.popular-posts h5 {
    font-weight: bold;
}

.popular-post-card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.popular-post-card img {
    max-width: 100px;
    margin-right: 1rem;
}

/* Our Contact Section */
.our-contact {
    margin-bottom: 2rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-icon {
    font-size: 1.5rem;
    margin-right: 15px;
}

.contact-text {
    line-height: 1.5;
    text-align: left;
}

/* Social Media Section */
.social-media {
    margin: 1rem 0;
}

.social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ccc;
}

/* Navbar links alignment for mobile view (collapsed state) */
@media (max-width: 991.98px) {
    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start;
    }

    .nav-link {
        width: 100%;
        padding: 1rem;
        text-align: left;
    }
}

/* Ensure the navbar content is aligned properly */
@media (max-width: 576px) {
      .navbar-toggler {
        padding: 0.2rem 0.4rem;
        font-size: 0.9rem;
        line-height: 0;
    }

    .navbar-nav {
        text-align: center;
        margin-top: 1rem;
    }

    .navbar-logo {
        height: 50px;
        width: 60%s;
    }
}

/* Responsive Design */
@media (max-width: 767px) {
    .footer {
        text-align: left;
    }

    .popular-post-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .popular-post-card img {
        margin-bottom: 1rem;
    }
}