{% extends "visa_app/base.html" %}

{% block title %}
403 Forbidden
{% endblock title %}

{% block content %}

<section class="error-page">
  <div class="error-card">
    <div class="text-center">
      <h1 class="error-text">You are not authorized.</h1>
      <p class="error-text">
        You tried to accessyou a page you <br>
         did not have prior authorization for.<br>
      </p>
      <button class="btn-error">
        <a class="btn-link" href="{% url 'home' %}">Go back to Home</a>
      </button>
    </div>
    <div class="container403 mx-auto">
      <div class="neon mx-auto">403</div>
      <div class="door-frame mx-auto">
        <div class="door">
          <div class="rectangle"></div>
          <div class="handle"></div>
          <div class="window">
            <div class="eye"></div>
            <div class="eye eye2"></div>
            <div class="leaf"></div> 
          </div>
        </div>  
      </div>
    </div>
  </div>
</section>
{% endblock content %}