{% extends "visa_app/base.html" %}

{% block title %}
500 Page Not Found
{% endblock title %}

{% block content %}

<section class="error-page">
  <div class="error-card">
    <div class="text-center">
      <h1 class="error-text">Oops!</h1>
      <p class="error-text">
        Something went wrong on our side.<br>
          Please try again later.<br>
      </p>
      <a class="btn-error btn-link" href="/">Go back to Home</a>
    </div>
    <div class="container403 mx-auto">
      <div class="neon mx-auto">500</div>
      <div class="door-frame mx-auto">
        <div class="door">
          <div class="rectangle"></div>
          <div class="handle"></div>
          <div class="window">
            <div class="eye"></div>
            <div class="eye eye2"></div>
            <div class="leaf"></div> 
          </div>
        </div>  
      </div>
    </div>
  </div>
</section>
{% endblock content %}   