{% extends 'visa_app/base.html' %}

{% block content %}
    <h1>Visa News</h1>
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <!-- Category -->
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title">
                                <a href="{% url 'visanews_detail' slug=article.slug %}" class="text-white">{{ article.category.name }}</a>
                            </h5>
                        </div>
                        <!-- Title -->
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'visanews_detail' slug=article.slug %}">{{ article.title }}</a>
                            </h4>
                            <!-- Image -->
                            {% if article.image %}
                                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                            {% endif %}

                            <!-- Excerpt -->
                            <p class="card-text">{{ article.excerpt }}</p>
                        </div>

                        <!-- Author and Published At -->
                        <div class="card-footer text-muted">
                            <h5 class="mb-0">
                                {{ article.author.username }} | {{ article.published_at|date:"M. d, Y, g:i a" }}
                            </h5>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No articles available.</p>
            {% endfor %}
        </div>