{% extends "visa_app/base.html" %}
{% load static %}

{% block title %}VisaGlobal.News{% endblock title %}

{% block content %}

<!-- index.html content starts here -->

<!-- Carousel featuring the latest 3 articles -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      {% for article in latest_articles %}
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
  </div>
  <div class="carousel-inner">
      {% for article in latest_articles %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
          <!-- Check if article has the Cloudinary featured image or use placeholder -->
          {% if "placeholder" in article.featured_image.url %}
            <img src="{% static 'images/default.jpg' %}" class="d-block w-100" alt="placeholder image">
          {% else %}
            <img src="{{ article.featured_image.url }}" class="d-block w-100" alt="{{ article.title }}">
          {% endif %}
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ article.title }}</h5>
              <p>{{ article.excerpt }}</p>
            </div>
        </div>
         {% endfor %}
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Display 6 articles in 3 per row below the carousel -->
<div class="container mt-4">
  <div class="row">
      {% for article in other_articles %}
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <div class="card-body">
                  <!-- Article Category -->
                  <div class="card-header text-white">
                    <h5 class="card-title">
                        <a href="{% url 'article_detail' slug=article.slug %}" class="text-white text-decoration-none">
                            {{ article.category.name }}
                        </a>
                    </h5>
                    </div>
                    <!-- Article Title -->
                    <a href="{% url 'article_detail' article.slug %}" class="text-decoration-none">
                        <h4 class="h5 article-title">{{ article.title }}</h4>
                    </a>

                  <!-- Article Image -->
                  <a href="{% url 'article_detail' article.slug %}">
                  {% if "placeholder" in article.featured_image.url %}
                        <img class="card-img-top hover-image" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top hover-image" src=" {{ article.featured_image.url }}" alt="{{ article.title }}">
                        {% endif %}
                  </a>

                  <!-- Article Excerpt -->
                <a href="{% url 'article_detail' article.slug %}" class="text-decoration-none">
                    <p class="card-text">{{ article.excerpt }}</p>
                </a>

                  <!-- Author and DateTime -->
                  <p class="card-text text-muted">
                      {{ article.author.username }} | {{ article.published_at|date:"M. d, Y, g:i a" }}
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>


{% endblock %}