{% extends "visa_app/base.html" %}

{% block title %}VisaGlobal.News{% endblock title %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <!-- Articles Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list|slice:":6" %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- 1. Highlighted Category -->
                            <h6 class="text-primary">{{ article.category.name }}</h6> 
                            <!-- 2. Title of the Article in Bold -->
                            <a href="{% url 'article_detail' article.slug %}" class="article-link">
                                <h2 class="card-title">{{ article.title }}</h2>
                            </a>
                            <!-- 3. Image -->
                            <img src="{{ article.image_url }}" class="img-fluid" alt="{{ article.title }}">

                            <!-- 4. Excerpt -->
                            <p class="card-text mt-3">{{ article.excerpt }}</p>

                            <!-- 5. Author Name in Bold -->
                            <p class="custom-author">{{ article.author }}</p>

                            <!-- 6. Date and Time -->
                            <p class="card-text text-muted">{{ article.created_on|date:"M. j, Y | P" }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}