{% extends "visa_app/base.html" %}
{% load static %}

{% block title %}VisaGlobal.News{% endblock title %}

{% block content %}

<!-- index.html content starts here -->

<!-- Carousel featuring the latest 3 articles -->
<div class="container my-4">
  <h1 class="featured">Featured</h1>
  <div class="row">
    <!-- Carousel Column -->
    <div class="col-md-6">
      <div id="articleCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for article in latest_articles %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'article_detail' article.slug %}">
              {% if "placeholder" in article.featured_image.url %}
              <img src="{% static 'images/default.jpg' %}" class="d-block w-100" alt="placeholder image" style="height: 300px; object-fit: cover;">
              {% else %}
              <img src="{{ article.featured_image.url }}" class="d-block w-100" alt="{{ article.title }}" style="height: 300px; object-fit: cover;">
              {% endif %}
            </a>
            <div class="carousel-caption d-block">
              <a href="{% url 'article_detail' article.slug %}" class="text-white text-decoration-none">
                <h5>{{ article.title }}</h5>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  <!-- Adjacent Card Column -->
<div class="col-md-6">
  <a href="{{ featured_article.get_absolute_url }}" class="text-decoration-none">
    <div class="card adjacent-card h-100 border-0">
      <!-- Title on Top -->
      <div class="card-body text-center adj-body">
        <h5 class="card-title text-decoration-none adj-title">{{ featured_article.title }}</h5>
      <!-- Image below Title -->
      <img src="{{ featured_article.featured_image.url }}" class="card-img-bottom img-fluid adj-image" alt="{{ featured_article.title }}">
     </div>
    </div>
  </a>
</div>

    <!-- Red Horizontal Line and Title -->
    <div class="container mt-4">
      <hr class="hline">
      <h2 class="visa-news-title">Latest Visa News</h2>

      <!-- Display 3 articles in 3 per row below the carousel -->
    <div class="row">
        {% for article in other_articles %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <!-- Article Category -->
              <div class="card-header text-white">
                <h5 class="card-title">
                  <a href="{% url 'article_detail' slug=article.slug %}" class="text-white text-decoration-none">
                    {{ article.category.name }}
                  </a>
                </h5>
              </div>
              <!-- Article Title -->
              <a href="{% url 'article_detail' article.slug %}" class="text-decoration-none">
                <h4 class="h5 article-title">{{ article.title }}</h4>
              </a>
              <!-- Article Image -->
                {% if "placeholder" in article.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="card-img-top" src="{{ article.featured_image.url }}" alt="{{ article.title }}">
                {% endif %}

              <!-- Article Excerpt -->
               <p class="card-text">{{ article.excerpt }} </p>
              <!-- Author and DateTime -->
              <div class="author-info">
                <p class="card-text author-name">{{ article.author.username }}</p>
                <hr class="author-divider">
                <p class="card-text date-time">{{ article.published_at|date:"M. d, Y, g:i a" }}</p>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No articles available.</p>
     {% endfor %}
   </div>


{% endblock %}
